#welcome{
    display: inline-block;
    line-height: 2;
    margin: 0 35vh;
}

#questions{
    width: 50%;
    margin-left: 25%;
}

ul{
    list-style-type: square;
    list-style-position: inside;
}