.header {
    /* height: 100px; */
    background-color:  #303036;
    /* font-family: 'Courier New', Courier, monospace; */
}

/* .header-logo {
    float: left;
} */

/* .header-menu {
    float: right;
} */