form p {
    color: #fff;
}

.footer-content a, li {
    color: white;
    text-decoration: none;
    list-style: none;
    display: block;
}

.footer-top a {
    color: white;
    text-decoration: none;
    list-style: none;
    display: block;
}

.footer-bottom a {
    color: #fff;
    text-decoration: none;
    list-style: none;
}

.footer {
    background-image: url("./ingredients3.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
    height: 490px;
    line-height: 1.7;
    position: relative;
    overflow: hidden;
    clear: both;
}

.footer .footer-top {
    display: flex;
    justify-content: space-between;
    margin: 0 35vh;
    padding: 0px 0 67px 0px;
}

.custom-underline::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #fff;
    transition: width .3s;
}
.custom-underline:hover::after {
    width: 100%;
    transition: width .3s;
}
.footer-bottom a{
    position: relative;
}
.custom-underline-inline::after{
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.custom-underline-inline:hover::after{
    width: 100%;
    left: 2px;
}

/* .footer-top-content {
    display: flex;
    align-items: flex-start;
} */

.footer .footer-content {
    display: flex;
    justify-content: space-between;
    margin: 0 35vh;
}

.footer .footer-bottom {
    
    color: #fff;
    height: 50px;
    width: 100%;
    text-align: left;
    margin: 0 35vh;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-top: 20px;
}

.col {
    /* display: flex;
    align-items: center;
    flex-direction: column; */
}

.col li {
    display: inline-block;
    padding: 0 8px;
}

.button-sign-up {
    box-sizing: border-box;
    height: 45px;
    width: 90px;
    font-weight: 700;
}

button {
    border: none;
    position: relative;
    background-color: rgb(47, 148, 216);
    cursor: pointer;
    transition: 0.3s;
}
button:hover {
    background-color: rgb(30, 160, 247)
}
button:active {
    top: 1px;
    background-color: rgb(66, 179, 255)
}

input {
    border: none;
    margin-top: 2px
}
.email-sign-up {
    box-sizing: border-box;
    width: 270px;
    height: 45px;
    padding: 0 10px;
}
::placeholder {
    color: rgb(155, 155, 155)
}

.space{
    display: flex;
    justify-content: center;
}

.custom-color-twitter {
    margin: 0 5px 0 5px;
}
.custom-color-twitter:hover{
    background-color: #df7d42;
    border-radius: 50%;
}

.custom-color-facebook:hover{
    box-sizing: border-box;
    border-radius: 50%;
    background-color: #59b1d2;
}

.custom-color-instagram:hover{
    border-radius: 50%;
    background-color: #b569c5;
}
img{
    position: absolute;
    top: 0;
    z-index: -1;
}

@media(max-width: 1045px){
    .footer .footer-content{
        margin: 0 80px;
    }
}

    @media(max-width: 600px){
        .footer .footer-content{
            /* width: 90%; */
            margin: 0 20px;
        }
        .footer-content .col{
            /* width: 100%; */
            margin-bottom: 30px;
        }
    }




@media(max-width: 593px){
    .footer .footer-top{
        /* padding-bottom: 40px; */
    }
}
    @media(max-width: 1045px){
        .footer .footer-top{
            margin: 0 80px;
        }
    }
        @media(max-width: 600px){
            .footer .footer-top{
                margin: 0 20px;
            }
        }
            @media(max-width: 1045px){
                .footer .footer-top-name{
                    /* margin-right: 140px; */
                }
            }



@media(max-width: 600px){
    .footer{
        height: 520px;

    }
}
    @media(max-width: 1045px){
        .footer .footer-bottom{
            margin: 0 80px;
        }
    }
        @media(max-width: 600px){
            .footer .footer-bottom{
                margin: 0 20px;
            }
        }


@media(max-width: 600px){
    .button-sign-up, .email-sign-up{
        width: 245px;
        text-align: center;
    }
}
@media(max-width: 600px){
    .button-sign-up, .email-sign-up{
        width: 245px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}