.App {
    width: 960px;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1.title{
    font-size: 28px;
    color: #8eab3f;
}

p{
    font-size: 14px;
    letter-spacing: 1px;
    word-spacing: 2pt;
    line-height: 18pt;
    color: #111;
}

.person a{
    font-size: 45px;
}

