.App {
<<<<<<< HEAD
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
=======
    width: 960px;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1.title{
    font-size: 28px;
    color: #8eab3f;
}

p{
    font-size: 14px;
    letter-spacing: 1px;
    word-spacing: 2pt;
    line-height: 18pt;
    color: #111;
}

.person a{
    font-size: 35px;
    color: #eb8e1c;
}

.person a:hover{
    font-size: 35px;
    color: #ab7e02;
}

.person{
    padding: 10px 5px 10px 5px;
    border-bottom: 1px #6f6e6e solid;
}

.person .name{
    font-size: 20px;
    font-weight: bold;
    float: left;
    margin-right: 25px;;
}

.person .social p{
    float: left;
    margin-right: 9px;
}

.person .social::after{
    display: block;
    content: " ";
    clear: both;
}
>>>>>>> cf246a565c89e08e17d7fc6fc75a756912436020
